body {
  background-color: rgb(255, 255, 255) !important;
}
/** set globals **/
main {
  /** margin: 50px !important;
  align-content: center !important;**/
  width: 100%;
  margin-left: 200px;
}
.logo {
  padding-top: 40px;
}

h1,
.entry-title {
  font-family: "RocknRoll One", sans-serif !important;
  color: rgba(38, 177, 195, 0.911);
  text-shadow: 2px 2px #350101;
  text-align: center !important;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Comfortaa", cursive !important;
  color: rgb(236, 173, 0) !important;
}

p,
a {
  font-family: "Comfortaa", cursive;
  font-size: 20px;
  text-decoration: none;
}
/*Links*/
a:link {
  color: rgb(140, 0, 255);
}

a:visited {
  color: rgb(0, 187, 187);
}

a:hover {
  color: rgb(72, 243, 72);
}
a:active {
  color: hotpink;
}

.logo {
  height: 200px;
}
header {
  display: flex;
  height: 110px;
  align-items: center;
}
header article {
  height: 90px;
  flex-grow: 1;
}
header article a img {
  height: 100%;
  width: auto;
}
header nav {
  height: 90px;
  display: flex;
}
header nav ul {
  display: flex;
  height: 100%;
  margin: 0px;
  align-items: center;
  list-style: none;
}
header nav ul li {
  padding: 0px 35px;
}
footer {
  display: grid !important;
  grid-template-columns: repeat(4, 25%);
  align-items: start;
  border-top: solid 2px rgb(1, 101, 114);
  padding: 50px;
}
.footer-area-one {
  display: flex;
  align-items: center;
}
.footer-area-one img {
  height: 200px !important;
  width: auto !important;
  padding: 10px;
}
footer ul {
  list-style: none;
  padding: 0px;
}
/** home page **/

.home {
  display: grid;
  grid-template-areas:
    "header header header header"
    "main main main sidebar"
    "footer footer footer footer";
  grid-template-columns: repeat(4, 25%);
  grid-auto-rows: auto;
}
.home header {
  grid-area: header;
}
.home main {
  grid-area: main;
}
.home footer {
  grid-area: footer;
}
#sidebar {
  grid-area: sidebar;
}
/** Homepage  **/
.masthead {
  background-size: cover;
  height: 60vh;
}
.masthead div {
  height: 100%;
  display: flex;
  align-items: center;
}
.masthead div h1 {
  width: 100%;
  color: #fff;
  font-size: 28px;
  text-align: center;
}
.row-one {
  display: grid;
  grid-template-columns: repeat(3, 33%);
}
.row-one article {
  padding: 10px;
}
.row-one article img {
  width: 100%;
  height: auto;
}
.row-two {
  text-align: center;
}
.row-two article {
  padding: 25px;
}
/** style the posts**/
.post-main {
  display: flex;
  padding: 10px;
  align-content: center;
}
.post-wrapper {
  display: flex;
  width: 80%;
}

.all-posts {
  grid-template-columns: repeat(4, 25%);
  grid-auto-rows: auto;
  grid-gap: 50px;
}

.read_more {
  color: rgb(141, 8, 119) !important;
}
#sidebar ul {
  list-style: none;
}
#search-form-1 {
  font-size: 16px;
  padding: 2px;
}
#sidebar > ul:nth-child(1) > li > form > input.search-submit {
  padding: 5px 25px;
  margin-left: 2px;
  font-size: 16px;
}
#sidebar > ul > li > h2 {
  font-size: 25px;
  margin: 10px 0px;
}
#sidebar > ul > li > ul {
  padding-left: 0px;
}
.all-posts,
.some-posts {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: auto;
  padding: 20px;
}
.all-posts article img,
.some-posts article img {
  width: 100% !important;
  height: auto !important;
}
/** custom posts*/
.pet_toys_section {
  grid-template-columns: repeat(2, 50%);
  grid-auto-rows: auto;
  grid-gap: 50px;
}
.toys-main {
  align-content: center !important;
}
/** woocommerce  pages**/
.woo,
.cart {
  width: 70%;
}
